# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/.vs/WebMetaArcadeClub/FileContentIndex/2b685d79-ad04-4656-bd06-c77c56ef93ec.vsidx
/.vs/WebMetaArcadeClub/FileContentIndex/84e455c1-205d-46b0-bb9e-5945ffb0d344.vsidx
/.vs/WebMetaArcadeClub/FileContentIndex/16f705eb-289a-40fe-a355-ab8e236886b6.vsidx
/.vs/WebMetaArcadeClub/FileContentIndex/86838ab4-5211-41dd-afd1-5fae14572638.vsidx
/.vs/WebMetaArcadeClub/FileContentIndex/c255c34c-7209-4307-b5aa-b846289f1627.vsidx
/.vs/WebMetaArcadeClub/FileContentIndex/ffce1afe-9d7e-4c03-ac97-cd5af047f158.vsidx
/.vs/WebMetaArcadeClub/FileContentIndex/52f4469d-ebbd-4004-a113-0662e9d1e981.vsidx
/.vs/WebMetaArcadeClub/FileContentIndex/61abc2f1-339e-43d5-8777-79ef3a641c1e.vsidx
